@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'book', Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.container-fluid {
  max-width: 1600px;
}



@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu  {
    margin-top: 0;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-item {
    padding: 13px 16px;
    border-bottom: 1px solid #d3d3d3;
  }
}

