.logo {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;
    width: 400px;
    height: 38px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
  }
  
  @media (max-width: 992px) {
    .logo {
      background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 280px;
      height: 28px;
    }
  }
  
  @media (max-width: 450px) {
    .logo {
      background-size: 100% 100%;
      -o-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      width: 245px;
      height: 25px;
      margin-left: 3px;
    }
  }